*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}
.font{
    font-family: 'Times New Roman', Times, serif;
}

.body{
    height: 100vh;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
#page{
    width: 1450px;
    height: 685px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 20px; */
}
/* .body .logo{
    position: absolute;
    font-size: 150;
    top: 62px;
    left: 66px;
    animation: ani1 3s infinite linear;
}   */
@keyframes ani1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
#page .logo ion-icon{
    transition: all 0.1s;
    font-size: 50px;
    color: aqua;
    animation: ani2 5s infinite linear;
}
@keyframes ani2{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(720deg);
    }
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
}
.left{
    width: 50%;
    padding-top: 220px;
    padding-left: 150px;
    /* border: 1px solid #fff; */
    /* border-radius: 20px; */
    background: url(../image/nha.jpg);
    background-size: cover;
}
.left .title{
    height: 100px;
}
.left .title h1{
    color: #000000;
    font-size: 95px;
    margin-top: -50px;
    letter-spacing: 10px;
}
.left p{
    font-size: 25px;
    color: #000000;
    margin-top: 20px;
    margin-left: -80px;
}
/* .left button{
    width: 195px;
    height: 42px;
    border: 1px solid #27F2FF;
    background: transparent;
    background-color: #005b9c;
    color: #000000;
    margin-top: 100px;
    margin-left: 150px;
    font-size: 16px;
    border-radius: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.right{
    width: 50%;
    margin-top: 0px;
    height: 100%;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
}
form{
    width: 100%;
    height: 685px;
    border: 1px solid aqua;
    /* border-radius: 20px; */
    box-shadow: 0px 0px 10px aqua;
}
form h2{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 45px;
    color: #000000;
    text-align: center;
    margin-bottom: 27px;
}
form .inpu{
    display: block;
    width: 350px;
    height: 50px;
    margin: 0px auto;
    /* margin-bottom: 20px; */
    padding-left: 20px;
    background: #005b9c;
    color: #000000;
}
form input{
    display: block;
    width: 580px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;


    /* display: block;
    width: 350px;
    height: 50px;
    margin: 0px auto;
    margin-bottom: 20px;
    padding-left: 20px;
    background: #f4faff;
    color: #000000; */
}
form input[type = 'submit']{
    width: 212px;
    height: 53px;
    color: #ffffff;
    border-radius: 50px;
    border: 1px solid #27F2FF;
    margin-top: 75px;
    padding: 0;
}
.dimem{
    margin-left: 70px;
    margin-right: 70px;
}

/* map */
#left{
    position: absolute;
    width: 14px;
    height: 95px;
    border: 1px solid blue;
}
#map{
    position: absolute;
    left: 15px;
    width: 170px;
    height: 95px;
    margin-top: 20px;
    margin-left: 1000px;
    border: 1px solid red;
}
#right{
    position: absolute;
    right: 5px;
    width: 14px;
    height: 95px;
    overflow-y: auto;
    border: 1px solid blue;
}

.custom .leaflet-popup-tip,

.custom .leaflet-popup-content-wrapper {

background: rgb(50, 40, 5);

color: #ffffff;

}
