*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}
.body{
    height: 100vh;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
#page{
    width: 1450px;
    height: 685px;
    background: #0d111f;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
#page .logo{
    position: absolute;
    top: 62px;
    left: 66px;
    animation: ani1 4s infinite linear;
}
@keyframes ani1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
#page .logo ion-icon{
    transition: all 0.1s;
    font-size: 70px;
    color: aqua;
    animation: ani2 5s infinite linear;
}
@keyframes ani2{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(720deg);
    }
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
}
.left{
    width: 50%;
    padding-top: 220px;
    padding-left: 150px;
    /* border: 1px solid #fff; */
    border-radius: 20px;
}
.left .title{
    height: 100px;
}
.left .title h1{
    color: #fff;
    font-size: 95px;
    letter-spacing: 10px;
}
.left p{
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
}
.left button{
    width: 195px;
    height: 42px;
    border: 1px solid #27F2FF;
    background: transparent;
    color: #fff;
    margin-top: 100px;
    margin-left: 150px;
    font-size: 16px;
    border-radius: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    width: 50%;
    margin-top: 20px;
    height: 100%;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
}
form{
    width: 492px;
    height: 596px;
    border: 1px solid aqua;
    border-radius: 20px;
    box-shadow: 0px 0px 10px aqua;
}
form h2{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 25px;
    color: #fff;
    text-align: center;
    margin-bottom: 27px;
}
form input{
    display: block;
    width: 350px;
    height: 50px;
    margin: 0px auto;
    margin-bottom: 20px;
    padding-left: 20px;
    background: #111D2E;
    color: #fff;
}
form input[type = 'submit']{
    width: 212px;
    height: 53px;
    color: #fff;
    border-radius: 50px;
    border: 1px solid #27F2FF;
    margin-top: 75px;
    padding: 0;
}


/* combobox */
.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    width: 50px;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
